<!DOCTYPE html>
<html>
<head>
  <title>2 Do</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="style.css"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"></link>
</head>

<body ng-app="myApp" ng-controller="todoCtrl" class="container">
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">
    	<h2>My Todo</h2>
	</div>
    <div class="col-sm-3" style="background-color:lavenderblush;">
   		<h2 ng-init="c=0" ng-model="c" ng-model="d" > <span > Count: {{c}}</span></h2>    
	</div>
    <div class="col-sm-6" style="background-color:lavender;"><br />
    	Copy right 2016 Bennett Fonacier 
    	<br />
    	<br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="background-color:lavender;"> 
	       
		  <!-- Trigger the modal with a button -->
		  <button type="button" class="btn btn-info btn-lg" ng-click="remove()" data-toggle="modal" data-target="#myModal">Remove</button>

		  <div class="container">

		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-sm">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Just to let you know</h4>
				</div>
				<div class="modal-body">
				  <p>{{d-c}} item(s) will be deleted permanently.</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>
		</div>

    </div>
    <div class="col-sm-4" style="background-color:lavenderblush;">

    	<form ng-submit="todoAdd()">
    	<input type="submit" class="btn btn-info btn-lg" value="Add New Todo">
    	<br><br>
    	<input class="form-control"  type="text" ng-model="todoInput" placeholder="Add New Todo">
		</form>    
	    	
   	</div>
    <div class="col-sm-6" style="background-color:lavender;">
	  
		<div ng-repeat="x in todoList" class="table-responsive">
		    <ul>
			<input type="checkbox" ng-model="x.done"> 
	   		<span ng-bind="x.todoText"></span>
		   </ul>
		</div>   

	</div>
  </div>


<script>
var app = angular.module('myApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [];

    $scope.todoAdd = function() {
		$scope.c++;
        $scope.todoList.push({todoText:$scope.todoInput, done:false});
        $scope.todoInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
		$scope.d = $scope.todoList.length;
		$scope.c = 0;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) {
				$scope.c++
				$scope.todoList.push(x);
			}
        });
		//if ($scope.c == 0) return;
    };
});
</script>

</body>
</html>
