<!DOCTYPE html>
<html ng-app xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <script src="angular.js"></script>
    <style>
        .changeColor {
            color: blue;
        }
        .changeSize {
            font-size: 40px;
        }
        .italic {
            font-style: italic;
        }
    </style>
  </head>

  <body>
    <h1>Angular Lesson 7</h1>
    <div>
        <p ng-class="style">Hell from Ben...</p>
        <br />
        <p ng-class="{changeColor:a, changeSize:b, italic:c}">Bye from Ben...</p>
        <br />
        <input type="checkbox" ng-model="a" /> Color<br />
        <input type="checkbox" ng-model="b" /> Size<br />
        <input type="checkbox" ng-model="c" /> italic<br />
    </div>
  </body>

</html>